@page "/book/Form"
<PageTitle>BooksStore | Add a New Book</PageTitle>



<div class="row">
    <div class="col-6>">
        <h2>Add a New Book</h2>
        <EditForm Model="_book" OnSubmit="HandleBookFormSubmission">
            <div class="form-group mt-1">
                <label>Title</label>
                <input type="text" @bind-value="@_book.Title" class="form-control" placeholder="Title" />
            </div>
            <div class="form-group mt-1">
                <label>Description</label>
                <input type="text" @bind-value="@_book.Description" class="form-control" placeholder="Description" />
            </div>
            <div class="form-group mt-1">
                <label>Number of Pages</label>
                <input type="number" @bind-value="@_book.PagesCount" class="form-control" placeholder="Number of pages" />
            </div>
            <div class="form-group mt-1">
                <label>Author</label>
                <input type="text" @bind-value="@_book.Author" class="form-control" placeholder="Author" />
            </div>
            <div class="form-group mt-1">
                <label>Price</label>
                <input type="number" @bind-value="@_book.Price" class="form-control" placeholder="Price" />
            </div>
            <div class="form-group mt-1">
                <input type="submit" class="btn btn-success" value="Save" />
            </div>
        </EditForm>
    </div>
</div>

@code {
    private SubmitBook _book = new();

    private void HandleBookFormSubmission()
    {
        Console.WriteLine("Book has been successfully submitted");
        Console.WriteLine($"Title: {_book.Title}");
        Console.WriteLine($"Author: {_book.Author}");
        Console.WriteLine($"Price : ${_book.Price}");
    }
}
